{% macro render_field(field) %}
  {% if field.isHidden %}
  <input type="hidden" name="{{ field.name }}" value="{{field.value}}">
  {% else %}
  <div class="field">
    <div class="field-body {% if field.errors %}has-errors{% endif %}">
      <span class="field-header">{{ field.label }}</span>
      {% if field.isSelect %}
        <select name="{{ field.name }}">
          {% if field.selections %}
            {% for selection in field.selections %}
              <option value="{{ selection.value }}">{{ selection.name }}</option>
            {% endfor %}
          {% endif %}
        </select>
      {% else %}
        <span class="clearfix"><input type="{{ field.type }}" name="{{ field.name }}" {% if field.value %}value="{{field.value}}"{% endif %}></span>
      {% endif %}
    </div>
    {% if field.errors %}
      <ul class="errors">
      {% for error in field.errors %}
        <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endif %}
{% endmacro %}
{% macro render_column(column) %}
  <div class="column">
    <div class="row-header">
      {{ column.label }}
    </div>
    {% for row in column.data %}
      <div class="row">
        <span>{{ row }}</span>
      </div>
    {% endfor %}
  </div>
{% endmacro %}